*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    background-color: #A59D84;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#heading{
    margin-top: 5px;
}
#container{
    height: 400px;
    width: 24.5%;
    background-color: white;
    border-radius: 40px;
}
li#list {
    list-style-type: none;
  }
#check{
    border-radius: 50%;
}
.listInput{
    border: none;
    background: none;
    color: black;
    outline: none;
    height: 25px;
    width: 275px;
    padding: 7px;
    margin-top: 10px;
}
.listInput::placeholder{
    color: black;
}
